final1.1.1_for_real_now_last_version/__pycache__/*
final_without_classes_c/build/WindowToAnotherWorld/Analysis-00.toc
final_without_classes_c/build/WindowToAnotherWorld/base_library.zip
final_without_classes_c/build/WindowToAnotherWorld/EXE-00.toc
final_without_classes_c/build/WindowToAnotherWorld/localpycs/pyimod01_archive.pyc
final_without_classes_c/build/WindowToAnotherWorld/localpycs/pyimod02_importers.pyc
final_without_classes_c/build/WindowToAnotherWorld/localpycs/pyimod03_ctypes.pyc
final_without_classes_c/build/WindowToAnotherWorld/localpycs/pyimod04_pywin32.pyc
final_without_classes_c/build/WindowToAnotherWorld/localpycs/struct.pyc
final_without_classes_c/build/WindowToAnotherWorld/PKG-00.toc
final_without_classes_c/build/WindowToAnotherWorld/PYZ-00.pyz
final_without_classes_c/build/WindowToAnotherWorld/PYZ-00.toc
final_without_classes_c/build/WindowToAnotherWorld/Tree-00.toc
final_without_classes_c/build/WindowToAnotherWorld/Tree-01.toc
final_without_classes_c/build/WindowToAnotherWorld/Tree-02.toc
final_without_classes_c/build/WindowToAnotherWorld/warn-WindowToAnotherWorld.txt
final_without_classes_c/build/WindowToAnotherWorld/WindowToAnotherWorld.pkg
final_without_classes_c/build/WindowToAnotherWorld/xref-WindowToAnotherWorld.html
final_without_classes_c/dist/WindowToAnotherWorld.exe
